body,
html {
    height: 100%;
    color: white;
    background: #0a0b1a;
    z-index: 2;
}

.home-section {
    background: linear-gradient(black, #0a0b1a);
}

.container {
    height: auto;
    margin: 0 auto;
    width: 100%;
}


/* link hover */
.link {
    display: inline-block;
    color: #0072ce;
}

.link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #0072ce;
    transition: width .3s;
}

.link:hover::after {
    width: 100%;
}

.link:hover {
    text-decoration: none;
    color: #0072ce;
}

/* nav header slogan*/
.navbg {
    z-index: 0;
}

.navbar {
    position: fixed;
    top: 0;
}

.navbar img {
    max-width: 100%;
    height: auto;
}

.home-section h1 {
    font-size: 6rem;
    padding: 5px 0;
    color: #bdbdbd;
}

.home-section h3 {
    font-size: 3em;
    color: #0072ce;
    padding: 5px 0;
}

.home-section {
    height: 100%;
}

.slogan {
    padding: 370px 0;
}



/* typer cursor */


.cursor {
    opacity: 0;
    transition: .2s;
    color: #0072ce;
    font-size: 100px;
}

.typer.mark {
    background-color: rgb(3, 25, 124);
}

.cursor.active {
    opacity: 1;
}

.typer {
    margin: 0 auto;
    font-size: 100px;
    color: #0072ce;
}




@media only screen and (max-width: 1440px) {

    body,
    html {
        z-index: 0;
    }

    .navbg {
        background: rgb(52, 58, 64, 0.8);
        z-index: 0;
    }

    .typer {
        margin: 0 auto;
        font-size: 60px;
        color: #0072ce;
    }

    .cursor {
        opacity: 0;
        transition: .2s;
        color: #0072ce;
        font-size: 60px;
    }

}

@media only screen and (max-width: 500px) {
    .home-section h1 {
        font-size: 3rem;
        padding: 5px 0;
    }

    .home-section h3 {
        font-size: 1.5em;
        color: #0072ce;
        padding: 5px 0;
    }

}



.project-pic img {
    max-width: 100%;
    height: auto;
    float: right;

    /*filter: blur(0px);*/
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.project-pic img:hover {
    /*filter: blur(2px);*/
    transform: scale(1.05);
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.3);
}

/* front-end article */

.front-title h1 {
    color: #0072ce;
    font-family: 'Roboto', cursive;
    font-size: 40px;
}

/* gallery section */

.gallery {
    max-height: 800px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;

    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-height 0.7s;

}

.gallery-open {
    max-height: auto;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;

    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-height 0.7s;
}

.gallery-pic img {
    max-width: 100%;
    height: auto;
    float: right;
    margin-bottom: 10px;

    /*filter: blur(0px);*/
    transition: filter 0.3s ease-in;
    transition: 0.2s ease-in-out;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.gallery-pic img:hover {
    transform: scale(1.05);
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.3);
}


.gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.3);
}

.gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.pic-box {
    margin: 0;
}

.show-more {
    display: none;
    cursor: pointer;
    color: #0072ce;
    border: 1px solid #383838;
    padding: 5px 20%;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}

.btn-show {
    display: block;
}

.hidden {
    display: none;
}

.baguetteBox-button {
    background-color: transparent !important;
}






@media only screen and (max-width: 500px) {
    .front-title h1 {
        color: #0072ce;
        font-family: 'Bebas Neue', cursive;
        font-size: 40px;
    }

    .jumbotron img {
        display: flex;
        max-height: 100%;
        float: right;
    }

    .location-title {
        opacity: 1;
    }

    .location-image img {
        filter: blur(2px);
    }

}


.about-section {
    padding-top: 100px;
    height: auto;
}

.about-text {
    padding: 40px 0;
    text-align: center;
    font-size: 16px;
    color: #bdbdbd;
}

.icons {
    color: #0072ce;
}

.experience p {
    font-size: 18px;
    font-family: 'Bebas Neue', cursive;
    color: #bdbdbd;

}

.years {
    font-size: 80px;
    font-family: 'Bebas Neue', cursive;
    color: #0072ce;
    user-select: none;
}

footer p {
    font-size: 18px;
    margin: 0;
    font-family: 'Bebas Neue', cursive;
    color: #bdbdbd;
}

/* contact-section */

.contact-section {
    padding: 100px 0;
}

.adress {
    font-family: 'Bebas Neue', cursive;
    color: #bdbdbd;
}







/* niebieski - #0072ce